<div class="section">
  <div class="container-fluid pt-4">
    <div class="card">
      <div class="card-header">
        <h2 class="text-primary">{{loanType}} Loan Calculator</h2>
      </div>
      <div class="card-body">
        <form #calcForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="inputRequestedAmount" class="form-label">Desired amount</label>
            <input name="currentRequestedAmountValue" type="number" class="form-control" [defaultValue]="1000" min="100"
              max="70000" DoubleOnly [(ngModel)]="loan.amount" />
            <div id="requestedAmountText" class="form-text">Financing amount between 1000 and 70000 Lei</div>
          </div>
          <div class="mb-3">
            <input name="requestedAmountSlider" class="form-range" step="50" type="range" min="1000" max="70000"
              [defaultValue]="1000" [(ngModel)]="loan.amount" />
          </div>
          <div class="mb-3">
            <label for="inputPeriodYears" class="form-label">Desired period</label>
            <input name="currentValue" type="number" class="form-control" [defaultValue]="1" min="1" max="30" NumberOnly
              [(ngModel)]="loan.period" />
            <div id="inputPeriodText" class="form-text">From 1 to 30 years reimburse flexibility</div>
          </div>
          <div class="mb-3">
            <input name="periodSlider" class="form-range" step="1" type="range" min="1" max="30" [defaultValue]="1"
              [(ngModel)]="loan.period" />
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="interestCheckboxInput" checked ng-model="model"
              onclick="return false;">
            <label class="form-check-label" for="interestCheckboxLabel">Annual Interest: 3.5%</label>
          </div>
          <button type="submit" class="btn btn-primary calc-button">Calculate </button>
        </form>
        <div class="card-body m-4 p-2 text-primary" *ngIf="this.isVisible">
          <h5 class="card-title text-center">Your monthly payment will be {{rate}} Lei!</h5>
          <div >
            <div class="card-body flex-fill ">
              <table class="table table-bordered table-striped table-hover styled-table">
                <thead>
                  <tr>
                    <th>Amount</th>
                    <th>Rate</th>
                    <th>Interest</th>
                    <th>Next due date</th>
                    <th>Remaining</th>
                    <th>Total cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of paymentPlan">
                    <td>{{ item.initialLoanAmount }}</td>
                    <td>{{ item.montlyRateAmount }}</td>
                    <td>{{ item.monthlyInterestAmount }}</td>
                    <td > {{item.nextDueDate | date:'dd/MM/YYYY'}}</td>
                    <td>{{ item.remainingLoanAmount }}</td>
                    <td>{{ item.totalPayableAmount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>