<nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav">
  <div class="container-fluid">
    <img src="assets/images/logos/logocompany.png" class="nav-logo">
    <a class="navbar-brand" routerLink="/">Financial Solutions</a>
    <form #loanTypes="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="getloantype()" autocomplete="off"></form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <loantypes></loantypes>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search " aria-label="Type of Loan">
        <button class="btn btn-outline-primary text-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>